Repository larsschellhas/boilerplate-saas-django-vuejs-new: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock, poetry-export, poetry-export-dev

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: Run poetry-check
        language: system
        entry: bash -c 'cd backend && exec poetry check'
        pass_filenames: false
        types: [toml]
        files: ^backend/pyproject.toml
      - id: poetry-lock
        name: Rund poetry-lock
        language: system
        entry: bash -c 'cd backend && exec poetry lock'
        pass_filenames: false
        types: [toml]
        files: ^backend/pyproject.toml
      - id: poetry-export
        name: Export non-dev dependencies
        language: system
        entry: bash -c 'cd backend && exec poetry export -f requirements.txt -o requirements.txt'
        pass_filenames: false
        files: ^backend/poetry.lock
      - id: poetry-export-dev
        name: Export dev dependencies
        language: system
        entry: bash -c 'cd backend && exec poetry export --dev -f requirements.txt -o requirements-dev.txt'
        pass_filenames: false
        files: ^backend/poetry.lock

Remove filepond
  backend/.dockerignore
  backend/.gitignore
  backend/Dockerfile.development
  backend/Dockerfile.production
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/requirements.txt
  backend/saasboilerplate/settings.py
  backend/saasboilerplate/urls.py
  backend/usermanagement/admin.py
  backend/usermanagement/serializers.py
  docker-compose.debug.yml
  docker-compose.development.yml
  docker-compose.production.yml
  frontend/package.json
  frontend/src/components/Onboarding/PaymentInformationForm.vue
  frontend/src/components/Settings/ProfileSettings.vue
  frontend/src/localization/de.json
  frontend/src/localization/en.json
  frontend/src/localization/fr.json
  frontend/yarn.lock
Due: poetry-check, poetry-lock, poetry-export, poetry-export-dev

Remove subscriptions from store
  frontend/src/store/index.js
  frontend/src/store/modules/subscriptions.js
Due: none

Replace migrations again
  backend/usermanagement/migrations/0001_initial.py
  backend/usermanagement/migrations/0002_auto_20220227_1921.py
  backend/usermanagement/migrations/0003_auto_20220306_2046.py
Due: none

Update JS packages
  frontend/package.json
  frontend/yarn.lock
Due: none

Merge
  frontend/yarn.lock
Due: none

Refactor environmental variables
  .env.development.template
  backend/manage.py
  backend/saasboilerplate/asgi.py
  backend/saasboilerplate/wsgi.py
Due: none

Remove unnecessary console log
  frontend/src/App.vue
Due: none

Remove old product logic from ProductOverview
  frontend/src/components/Product/ProductOverview.vue
Due: none

Implement abstract subscription layer
  frontend/src/App.vue
  frontend/src/subscriptions.js
Due: none

Update README to include manual of how to setup dev environment
  README.md
Due: none

Only build for modern browsers
  frontend/.browserslistrc
Due: none

Remove stripe settings
  backend/saasboilerplate/settings.py
Due: none

Install paddle in backend
  .env.development.template
  README.md
  backend/entrypoint.production.sh
  backend/entrypoint.sh
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/requirements.txt
  backend/saasboilerplate/settings.py
  backend/saasboilerplate/urls.py
  frontend/src/subscriptions.js
Due: poetry-check, poetry-lock, poetry-export, poetry-export-dev

Fix reading of paddle's public key
  .env.development.template
  README.md
  backend/saasboilerplate/settings.py
Due: none

Update python packages
  backend/poetry.lock
  backend/requirements-dev.txt
  backend/requirements.txt
Due: poetry-export, poetry-export-dev
